# vscode
**/.vscode/settings.json

# Environments
**/.env
**/.venv*
poetry.lock

# local files
.DS_Store
.vscode

# python
dist
logs
__pycache__

# dagster
.dagster

# dbt
**/target/*
!**/target/manifest.json

**/dbt_packages/
**/logs/
**/.user.yml
**/package-lock.yml
